body {
    background: #2c2c2c;
}

aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-rigth: 5px solid #4d4d4d;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    left: -20px;
}

aside h3 {
    font-size: 30px;
    margin-top: 20px;
    color: grey;
}

aside ul {list-style: none}
aside ul li {
    color: grey;
    display: block;
    margin-top: 10px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}
main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}
